services:
  - docker

language: php

php:
  - "7.1"
  - "7.2"
  - "7.3"

env:
  - CODECOV_TOKEN="75d17900-cf74-40dc-abd1-ab7eb997ad4e"

before_install:
  - docker network create --subnet=172.32.205.0/24 --gateway=172.32.205.1 ceph
  - docker-compose -f docker/docker-compose.yml up -d

install:
  - make install

script:
#  - make cs-ci
  - make test-ci

after_success:
  - bash <(curl -s https://codecov.io/bash)